.Image
  = image_tag '/assets/ojigi_animal_inu.png', alt: 'お礼', height: '300', width: '200', class: 'image-dog' 
  = image_tag '/assets/ojigi_animal_kuma.png', alt: 'お礼', height: '300', width: '200', class: 'image-bear' 
.Completion
  %h3 そうだんくれて、ありがとう！
  .Completion__link
    = link_to "/comments" do
      はじめにもどろう
