*{
  font-family: 'Kosugi Maru', sans-serif;
}
.Title{
  color: #8de481;
  font-size: medium;
}
.Description{
  margin-bottom: 10px;
}
.Secret-new{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__s-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px #8de481 ;
    padding: 20px;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: #fafca0;
    &__s-select-box{
      &__s-nameContent{
        width: 300px;
        height: 50px;
        margin: 10px 0 15px 0px ;
        padding: 10px 8px 10px 8px;
      }
      .s-form-control{
        width: 100px;
        height: 30px;
        margin-left: 15px;
      }
    }
    &__school-name{
      width: 300px;
      height: 40px;
      margin: 10px 0 15px 0px ;
      padding: 10px 8px 10px 8px;
    }
    &__s-inputContent{
      width: 600px;
      height: 200px;
      margin: 10px 0 15px 0px ;
      padding: 10px 8px 10px 8px;
    }
    &__s-inputSEND{
      background-color: #8de481 ;
      color: white;
      border: none;
      width: 90px;
      height: 30px;
      border-radius: 10px;
      margin-top: 20px;
    }
  }
}
